setu/validator/Invoice-v2.1-Invoice.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:fn="http://www.w3.org/2005/xpath-functions" 
    xmlns:sch="http://purl.oclc.org/dsdl/schematron">
    <sch:ns prefix="ubl" uri="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"/>
    <sch:ns prefix="cac" uri="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"/>
    <sch:ns prefix="cbc" uri="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"/>
    <sch:ns prefix="ext" uri="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"/>

    <!--
        ** CHANGELOG version 2.1.1 (16/06/2022)**
        * Removed rule: TEMP-SETU-10004
    -->

    <sch:pattern>
        <sch:rule id="TEMP-SETU-10001" context="ubl:Invoice" flag="warning">
            <sch:assert test="cbc:CustomizationID = 'urn:cen.eu:en16931:2017#compliant#urn:fdc:nen.nl:nlcius:v1.0#compliant#urn:fdc:setu.nl:invoice:v2.1'">
                Unexpected value of CustomizationID 
            </sch:assert>
        </sch:rule>
    </sch:pattern>
    <sch:pattern>
        <sch:rule id="TEMP-SETU-10002" context="ubl:Invoice" flag="warning">
            <sch:assert test="cbc:DocumentCurrencyCode = 'EUR'">
                DocumentCurrencyCode must be set to 'EUR'
            </sch:assert>
        </sch:rule>
    </sch:pattern>
    <sch:pattern>
        <sch:rule id="TEMP-SETU-10003" context="ubl:Invoice" flag="warning">
            <sch:assert test="count(cac:AdditionalDocumentReference) &lt;= 2">
                Not more than two AdditionalDocumentReference elements are allowed.
            </sch:assert>
        </sch:rule>
    </sch:pattern>
</sch:schema>