setu-planning/v2/PlanningConstraints/PlanningConstraints_v2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sth="https://ns.semantic-treehouse.nl/message" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="https://ontology.setu.nl/messages">
<xs:annotation>
    <xs:documentation>	
    Name:       PlanningConstraints_v2.0.xsd
    Purpose:    Defines the XML Schema for the PlanningConstraints message.
    Author(s): 	SETU
    Standard: 	SETU Standard for Planning and Scheduling v2.0
    Date:       2025-01-23
    </xs:documentation>
</xs:annotation>
<!--===== Root element definition =====-->
<xs:element name="PlanningConstraints">
  <xs:annotation>
    <xs:documentation>
      <sth:definition>The Planning Constraints message is used for exchanging information on the constraints that need to be taken into account for the planning of an individual worker related to a specific assignment. The message includes information about the availability and other relevant requirements or preferences. The message is sent from the back-office system of the supplier to the planning system at either the customer or supplier.</sth:definition>
    </xs:documentation>
  </xs:annotation>
  <xs:complexType>
    <xs:sequence>
      <xs:element name="documentId">
        <xs:annotation>
          <xs:documentation>
            <sth:definition>Provides the Identifier(s) of the document being communicated. Uniquely identifies a Document within an organization.</sth:definition>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The value of the unique identifier.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string"/>
              </xs:simpleType>
            </xs:element>
            <xs:element name="schemeAgencyId">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Supplier"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="actionCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <sth:definition>Specification of how the supplier or the customer should process the planning constraints.</sth:definition>
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="DELETE"/>
            <xs:enumeration value="GET"/>
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PUT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="supplier">
        <xs:annotation>
          <xs:documentation>
            <sth:definition>The supplier of the worker.</sth:definition>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="2">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>A unique identifier which cannot be expressed as enumeration.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The value of the unique identifier.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="schemeAgencyId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Customer"/>
                        <xs:enumeration value="Supplier"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="legalId" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>A government assigned identifier to distinguish the party (organization, person, or legal entity) to a transaction.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The value of the unique identifier.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="schemeAgencyId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="KvK"/>
                        <xs:enumeration value="OIN"/>
                        <xs:enumeration value="RSIN"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="taxId" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>An identifier assigned by a government tax authority to distinguish the party (organization, person, or legal entity) to a transaction.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The value of the unique identifier.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="schemeAgencyId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="BTW"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="customer">
        <xs:annotation>
          <xs:documentation>
            <sth:definition>The customer of the worker.</sth:definition>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" minOccurs="0" maxOccurs="2">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>A unique identifier which cannot be expressed as enumeration.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The value of the unique identifier.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="schemeAgencyId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Customer"/>
                        <xs:enumeration value="Supplier"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="legalId" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>A government assigned identifier to distinguish the party (organization, person, or legal entity) to a transaction.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The value of the unique identifier.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="schemeAgencyId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="KvK"/>
                        <xs:enumeration value="OIN"/>
                        <xs:enumeration value="RSIN"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="taxId" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>An identifier assigned by a government tax authority to distinguish the party (organization, person, or legal entity) to a transaction.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The value of the unique identifier.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="schemeAgencyId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="BTW"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="worker">
        <xs:annotation>
          <xs:documentation>
            <sth:definition>Information about the worker to whom the planning constraints apply.</sth:definition>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="workerId" maxOccurs="2">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Provides a unique identifier to a specific worker (an employer specific identifier).</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The value of the unique identifier.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="schemeAgencyId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Customer"/>
                        <xs:enumeration value="Supplier"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="workAssignments" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The assignments for the worker. An assignment may override the position and/or job information.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  
                        <xs:element name="id">
                          <xs:annotation>
                            <xs:documentation>
                              <sth:definition>Identifier of the assignment.</sth:definition>
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value">
                                <xs:annotation>
                                  <xs:documentation>
                                    <sth:definition>The value of the unique identifier.</sth:definition>
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string"/>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="schemeAgencyId">
                                <xs:annotation>
                                  <xs:documentation>
                                    <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="Supplier"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="positionProfile" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <sth:definition>Information concerning the position profile.</sth:definition>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="positionPeriod" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The start and end date of the period in which the worker is available for the position.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="start">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The start date of the period in which the worker is available.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:date"/>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="end" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The end date of the period in which the worker is available.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:date"/>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="workingPeriods" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Describes the working period that the worker is willing to work for, e.g. 32 hours per week and/or 4 days per week. This is excluding break time(s).</sth:definition>
                  <sth:note>It is allowed to use workingPeriods more than once, for example to specify that the worker is willing to work 36 hours a week, but also to specify that this needs to happen within 4 (or 5) days a week.</sth:note>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  
                        <xs:element name="workDuration">
                          <xs:annotation>
                            <xs:documentation>
                              <sth:definition>The amount of time to work, e.g. 40 hours, 4 days. This is excluding break time(s).</sth:definition>
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value">
                                <xs:annotation>
                                  <xs:documentation>
                                    <sth:definition>The value of the work duration, expressed as decimal.</sth:definition>
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal"/>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="unitCode">
                                <xs:annotation>
                                  <xs:documentation>
                                    <sth:definition>The unit of measure.</sth:definition>
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="value">
                                      <xs:annotation>
                                        <xs:documentation>
                                          <sth:definition>The value of the unit of measure.</sth:definition>
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:enumeration value="Days"/>
                                          <xs:enumeration value="Hours"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="baseDuration">
                          <xs:annotation>
                            <xs:documentation>
                              <sth:definition>The related base time interval, e.g. 1 week, 1 month.</sth:definition>
                            </xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="value">
                                <xs:annotation>
                                  <xs:documentation>
                                    <sth:definition>The value of the base duration, expressed as decimal.</sth:definition>
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal"/>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="unitCode">
                                <xs:annotation>
                                  <xs:documentation>
                                    <sth:definition>The unit of measure.</sth:definition>
                                  </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="value">
                                      <xs:annotation>
                                        <xs:documentation>
                                          <sth:definition>The value of the unit of measure.</sth:definition>
                                        </xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:enumeration value="Daily"/>
                                          <xs:enumeration value="FourWeekly"/>
                                          <xs:enumeration value="Monthly"/>
                                          <xs:enumeration value="Quarterly"/>
                                          <xs:enumeration value="Weekly"/>
                                          <xs:enumeration value="Yearly"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                     
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="periodicAvailabilityLine" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <sth:definition>Container to specify the periodic availability of a worker containing the preferred working days and times.</sth:definition>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lineId">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Provides a unique identifier of the availability line.</sth:definition>
                  <sth:note>The line identifiers used for periodic and single availability lines must be unique for each Planning Constraints message and may not overlap. In other words, an identifier used for a periodic availability line must not be used as an identifier for a single availability line, and vice versa.</sth:note>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The value of the unique identifier.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="schemeAgencyId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Customer"/>
                        <xs:enumeration value="Supplier"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="actionCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Specification of how the supplier or the customer should process this periodic availability line.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="DELETE"/>
                  <xs:enumeration value="GET"/>
                  <xs:enumeration value="POST"/>
                  <xs:enumeration value="PUT"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="availabilityStatus">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Indicates the availability status of an availability line by 'Available', 'NotAvailable', or 'RatherNot'.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Available"/>
                  <xs:enumeration value="NotAvailable"/>
                  <xs:enumeration value="RatherNot"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="availabilityPeriod">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The period to which the availability line applies.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Daily"/>
                  <xs:enumeration value="FourWeekly"/>
                  <xs:enumeration value="Friday"/>
                  <xs:enumeration value="Monday"/>
                  <xs:enumeration value="Monthly"/>
                  <xs:enumeration value="Saturday"/>
                  <xs:enumeration value="Sunday"/>
                  <xs:enumeration value="Thursday"/>
                  <xs:enumeration value="Tuesday"/>
                  <xs:enumeration value="Wednesday"/>
                  <xs:enumeration value="Weekly"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="startTime" minOccurs="0" type="xs:time">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The preferred start time of the worker for the specified availability period.</sth:definition>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="endTime" minOccurs="0" type="xs:time">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The preferred end time of the worker for the specified availability period.</sth:definition>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="hours" minOccurs="0" type="xs:decimal">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The number of hours the worker is 'Available', 'NotAvailable', or 'RatherNot' for the specified availability period. The number of hours is including break time(s).</sth:definition>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="relatedWorker" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Other worker(s) the worker is related to and has to be taken into account for this availability line when planning.</sth:definition>
                  <sth:note>E.g. workers travel together towards their working location and therefore need to planned on the same working hours, etc.</sth:note>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="workerId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>Provides a unique identifier to a specific worker (an employer specific identifier).</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value">
                          <xs:annotation>
                            <xs:documentation>
                              <sth:definition>The value of the unique identifier.</sth:definition>
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="schemeAgencyId">
                          <xs:annotation>
                            <xs:documentation>
                              <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Customer"/>
                              <xs:enumeration value="Supplier"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="relatedWorkerType">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>Identifies the relation type between the worker and the related worker as 'Preferred' or 'Required'.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Preferred"/>
                        <xs:enumeration value="Required"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="startDateTime" minOccurs="0" type="xs:dateTime">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The start date and time of the period the worker is related to another worker.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="endDateTime" minOccurs="0" type="xs:dateTime">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The end date and time of the period the worker is related to another worker.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="availabilityComment" minOccurs="0" type="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Extra information about the availability of the worker additional to the status, e.g. the reason why the worker is (not) available.</sth:definition>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="singleAvailabilityLine" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            <sth:definition>Container to specify a single availability line of a worker containing the preferred working days and times. This includes exceptions to the periodic availability, or occasional availability as addition to the periodic availability.</sth:definition>
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lineId">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Provides a unique identifier of the availability line.</sth:definition>
                  <sth:note>The line identifiers used for periodic and single availability lines must be unique for each Planning Constraints message and may not overlap. In other words, an identifier used for a periodic availability line must not be used as an identifier for a single availability line, and vice versa.</sth:note>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="value" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The value of the unique identifier.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="schemeAgencyId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Customer"/>
                        <xs:enumeration value="Supplier"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="actionCode" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Specification of how the supplier or the customer should process this single availability line.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="DELETE"/>
                  <xs:enumeration value="GET"/>
                  <xs:enumeration value="POST"/>
                  <xs:enumeration value="PUT"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="singleAvailabilityType">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Specifies whether a single availability line is an exception on a periodic availability line or a new occasional single availability line.</sth:definition>
                  <sth:note>- Exception: Use 'Exception' and provide a unique identifier to add a single availability line. Furthermore, provide the identifier of the periodic availability line it relates to. The single availability line will function as an exception to the periodic availability line.
  - Occasional: Use 'Occasional' and provide a new, unique identifier to add a single availability line. An occasional single availability type refers to a specific availability line that does not occur often.</sth:note>
                  <sth:note>- Exception: Use 'Exception' and provide a unique identifier to add a single availability line. Furthermore, provide the identifier of the periodic availability line it relates to. The single availability line will function as an exception to the periodic availability line.
- Occasional: Use 'Occasional' and provide a new, unique identifier to add a single availability line. An occasional single availability type refers to a specific availability line that does not occur often.</sth:note>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Exception"/>
                  <xs:enumeration value="Occasional"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="periodicAvailabilityLineReference" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Reference to the periodic availability line related with this single availability line.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="lineId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>Provides a unique identifier of the availability line.</sth:definition>
                        <sth:note>The line identifiers used for periodic and single availability lines must be unique for each Planning Constraints message and may not overlap. In other words, an identifier used for a periodic availability line must not be used as an identifier for a single availability line, and vice versa.</sth:note>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>
                              <sth:definition>The value of the unique identifier.</sth:definition>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="schemeAgencyId">
                          <xs:annotation>
                            <xs:documentation>
                              <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Customer"/>
                              <xs:enumeration value="Supplier"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="availabilityStatus">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Indicates the availability status of an availability line by 'Available', 'NotAvailable', or 'RatherNot'.</sth:definition>
                </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Available"/>
                  <xs:enumeration value="NotAvailable"/>
                  <xs:enumeration value="RatherNot"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="startDateTime" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The start date and time of the single availability when the worker is (not) available.</sth:definition>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="endDateTime" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The end date and time of the single availability when the worker is (not) available.</sth:definition>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="hours" minOccurs="0" type="xs:decimal">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>The number of hours the worker is 'Available', 'NotAvailable', or 'RatherNot' for the specified availability period. The number of hours is including break time(s).</sth:definition>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="relatedWorker" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Other worker(s) the worker is related to and has to be taken into account for this availability line when planning.</sth:definition>
                  <sth:note>E.g. workers travel together towards their working location and therefore need to planned on the same working hours, etc.</sth:note>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="workerId">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>Provides a unique identifier to a specific worker (an employer specific identifier).</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="value">
                          <xs:annotation>
                            <xs:documentation>
                              <sth:definition>The value of the unique identifier.</sth:definition>
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="schemeAgencyId">
                          <xs:annotation>
                            <xs:documentation>
                              <sth:definition>The organization that issues the identifier. This organization is also responsible for unicity of the identifier within its own context.</sth:definition>
                            </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Customer"/>
                              <xs:enumeration value="Supplier"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="relatedWorkerType">
                    <xs:annotation>
                      <xs:documentation>
                        <sth:definition>Identifies the relation type between the worker and the related worker as 'Preferred' or 'Required'.</sth:definition>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Preferred"/>
                        <xs:enumeration value="Required"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="availabilityComment" minOccurs="0" type="xs:string">
              <xs:annotation>
                <xs:documentation>
                  <sth:definition>Extra information about the availability of the worker additional to the status, e.g. the reason why the worker is (not) available.</sth:definition>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="maximumTravelDistance" minOccurs="0" type="xs:decimal">
        <xs:annotation>
          <xs:documentation>
            <sth:definition>The maximum number of kilometers the worker is willing to travel.</sth:definition>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
