setu/webservices/2011-01/OrderingSelection-HumanResourceServiceSETU-supplier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:hr="http://ns.hr-xml.org/2007-04-15" 
xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" 
xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:tns="http://www.setu.nl/SETUWebServices/2011-01" 
xmlns:setu="http://ns.setu.nl/2008-01" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.setu.nl/SETUWebServices/2011-01">
	<wsdl:documentation>
		Name: 		OrderingSelection-HumanResourceServiceSETU-supplier.wsdl
		Purpose: 	specifies the webservices for receiving HumanResource messages at the supplier interface in an Ordering and Selection process. 
		Author(s): 	SETU
		Release: 	SETU Standard for Ordering and Selection v1.1
		Last edit:	2020-11-24
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.setu.nl/SETUWebServices/2011-01" elementFormDefault="qualified">
			<xsd:import namespace="http://ns.hr-xml.org/2007-04-15" schemaLocation="../../../hr-xml/CPO/Acknowledgement.xsd"/>
			<xsd:import namespace="http://ns.hr-xml.org/2007-04-15" schemaLocation="../../../hr-xml/SIDES/HumanResource.xsd"/>
			<xsd:import namespace="http://ns.setu.nl/2008-01" schemaLocation="../../schemas/2008-01/HumanResourceAdditionalNL.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="HumanResourceRequest">
		<wsdl:documentation>A generic request of type Offer (HR).</wsdl:documentation>
		<wsdl:part name="input" element="hr:HumanResource"/>
	</wsdl:message>
	<wsdl:message name="StatusHumanResourceRequest">
		<wsdl:documentation>A generic request of type OfferStatus (sHR).</wsdl:documentation>
		<wsdl:part name="input" element="hr:HumanResource"/>
	</wsdl:message>
	<wsdl:message name="Response">
		<wsdl:documentation>A generic response of type Acknowledgement.</wsdl:documentation>
		<wsdl:part name="output" element="hr:Acknowledgement"/>
	</wsdl:message>
	<wsdl:portType name="HumanResourceService">
		<wsdl:operation name="AcceptOffer">
			<wsdl:documentation>AcceptOffer is used in the Ordering and Selection process, scenario A (step 3), B (step 7), C (step 4,9). The request message is an OfferStatus (sHR) message.</wsdl:documentation>
			<wsdl:input message="tns:StatusHumanResourceRequest"/>
			<wsdl:output message="tns:Response"/>
		</wsdl:operation>
		<wsdl:operation name="WithdrawOffer">
			<wsdl:documentation>WithdrawOffer is used in the Ordering and Selection process. The request message is an OfferStatus (sHR) message.</wsdl:documentation>
			<wsdl:input message="tns:StatusHumanResourceRequest"/>
			<wsdl:output message="tns:Response"/>
		</wsdl:operation>
		<wsdl:operation name="ReserveOffer">
			<wsdl:documentation>ReserveOffer is used in the Ordering and Selection process, scenario B (step 3,6). The request message is an OfferStatus (sHR) message.</wsdl:documentation>
			<wsdl:input message="tns:StatusHumanResourceRequest"/>
			<wsdl:output message="tns:Response"/>
		</wsdl:operation>
		<wsdl:operation name="RejectOffer">
			<wsdl:documentation>RejectOffer is used in the Ordering and Selection process, scenario B (step 4). The request message is an OfferStatus (sHR) message.</wsdl:documentation>
			<wsdl:input message="tns:StatusHumanResourceRequest"/>
			<wsdl:output message="tns:Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapServiceHttpBinding" type="tns:HumanResourceService">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:documentation>The soapAction value for each operation can be used to indicate the intent of the SOAP request. It enables the receiver to appropriately identify the operation requested.</wsdl:documentation>
		<wsdl:operation name="AcceptOffer">
			<wsdlsoap:operation soapAction="http://www.organisatie.nl/SETUServicesEndpoint/AcceptOffer" style="document"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="WithdrawOffer">
			<wsdlsoap:operation soapAction="http://www.organisatie.nl/SETUServicesEndpoint/WithdrawOffer" style="document"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReserveOffer">
			<wsdlsoap:operation soapAction="http://www.organisatie.nl/SETUServicesEndpoint/ReserveOffer" style="document"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RejectOffer">
			<wsdlsoap:operation soapAction="http://www.organisatie.nl/SETUServicesEndpoint/RejectOffer" style="document"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HumanResourceSoapService">
		<wsdl:port name="SETUServicesEndpoint" binding="tns:SoapServiceHttpBinding">
			<wsdlsoap:address location="https://www.organisatie.nl/SETUServicesEndpoint"/>
			<wsdl:documentation>The address location (URL) for the services endpoint of the HumanResource operations can be selected freely. </wsdl:documentation>
		</wsdl:port>
	</wsdl:service>
	<wsdl:documentation>
	
		Name: OrderingSelection-HumanResourceServiceSETU-supplier.wsdl
		Purpose: specifies the webservices for receiving HumanResource messages at the supplier interface in an Ordering and Selection process. 
		Author(s): SETU
		Release: v1.0 
		
	</wsdl:documentation>
</wsdl:definitions>
