setu/webservices/2011-01/RTE-TimeCardServiceSETU-supplier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:hr="http://ns.hr-xml.org/2007-04-15" 
xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" 
xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:tns="http://www.setu.nl/SETUWebServices/2011-01" 
xmlns:setu="http://ns.setu.nl/2008-01" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.setu.nl/SETUWebServices/2011-01">
	<wsdl:documentation>
		Name: 		RTE-TimeCardServiceSETU-supplier.wsdl
		Purpose: 	specifies the webservices for receiving TimeCard messages at the supplier interface in the process of Registering Time and Expenses.
		Author(s): 	SETU
		Release: 	SETU Standard for Reporting Time and Expenses v1.1
		Last edit: 	2020-11-24
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.setu.nl/SETUWebServices/2011-01" elementFormDefault="qualified">
			<xsd:import namespace="http://ns.hr-xml.org/2007-04-15" schemaLocation="../../../hr-xml/SIDES/TimeCardAdditionalData.xsd"/>
			<xsd:import namespace="http://ns.hr-xml.org/2007-04-15" schemaLocation="../../../hr-xml/CPO/Acknowledgement.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="TimeCardRequest">
		<wsdl:part name="input" element="hr:TimeCard"/>
	</wsdl:message>
	<wsdl:message name="Response">
		<wsdl:part name="output" element="hr:Acknowledgement"/>
	</wsdl:message>
	<wsdl:portType name="TimeCardService">
		<wsdl:operation name="SendTimeCard">
			<wsdl:documentation>SendTimeCard is used in the process of Registering Time and Expenses. The request message is a TimeCard message.</wsdl:documentation>
			<wsdl:input message="tns:TimeCardRequest"/>
			<wsdl:output message="tns:Response"/>
		</wsdl:operation>
		<wsdl:operation name="RejectTimeCard">
			<wsdl:documentation>RejectTimeCard is used in the process of Registering Time and Expenses. The request message is a TimeCard message.</wsdl:documentation>
			<wsdl:input message="tns:TimeCardRequest"/>
			<wsdl:output message="tns:Response"/>
		</wsdl:operation>
		<wsdl:operation name="CorrectTimeCard">
			<wsdl:documentation>SendTimeCard is used in the process of Registering Time and Expenses. The request message is a TimeCard message.</wsdl:documentation>
			<wsdl:input message="tns:TimeCardRequest"/>
			<wsdl:output message="tns:Response"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SoapServiceHttpBinding" type="tns:TimeCardService">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:documentation>The soapAction value for each operation can be used to indicate the intent of the SOAP request. It enables the receiver to appropriately identify the operation requested.</wsdl:documentation>
		<wsdl:operation name="SendTimeCard">
			<wsdlsoap:operation soapAction="http://www.organisatie.nl/SETUServicesEndpoint/TimeCard" style="document"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RejectTimeCard">
			<wsdlsoap:operation soapAction="http://www.organisatie.nl/SETUServicesEndpoint/RejectTimeCard" style="document"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CorrectTimeCard">
			<wsdlsoap:operation soapAction="http://www.organisatie.nl/SETUServicesEndpoint/CorrectTimeCard" style="document"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TimeCardSoapService">
		<wsdl:port name="SETUServicesEndpoint" binding="tns:SoapServiceHttpBinding">
			<wsdlsoap:address location="https://www.organisatie.nl/SETUServicesEndpoint"/>
			<wsdl:documentation>The address location (URL) for the services endpoint of the TimeCard operations can be selected freely.</wsdl:documentation>
		</wsdl:port>
	</wsdl:service>
	<wsdl:documentation>
	
		Name: RTE-TimeCardServiceSETU-supplier.wsdl
		Purpose: specifies the webservices for receiving TimeCard messages at the supplier interface in the process of Registering Time and Expenses.
		Author(s): SETU
		Release: v1.0 
		
	</wsdl:documentation>
</wsdl:definitions>
